.game-container {
  background-color: black;
  min-height: 130vh;
}

.waiting-for-players {
  height: 100vh;
}

.waiting-for-players h1 {
  padding-top: 40px;
  margin: 0;
}

.dot-pulse {
  animation: dot ease-in-out 1s infinite;
  background-color: white;
  display: inline-block;
  height: 20px;
  margin: 0 10px;
  width: 20px;
  border-radius: 50%;
}

.dot-pulse:nth-of-type(2) {
  animation-delay: 0.2s;
}

.dot-pulse:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes dot {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
